@import 'vars';


header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 38px;
    align-items: center;
}

.menu-logo {
    padding: 0 30px;
    width: 24px;
    height: 100%;
    cursor: pointer;

}

nav {
    position: absolute;
    text-align: center;
    top: 60px;
    width: 100%;
    visibility: hidden;


    .menu-nav {
        list-style: none;
        background: #fff;
        margin: 0 30px;
        box-shadow: 0px 6px 10px rgba(0,0,0, .3);

        hr {
            margin-top: 30px;
            margin-left: 25px;
            margin-right: 25px;
            border: 1px solid color(neutral-lightgray);
        }

        .nav-item {
            padding-top: 23px;
            font-family: 'Barlow Condensed', sans-serif;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 1px;

            a {
                color: color(neutral-dark);
            }

            a:hover {
                text-decoration: underline;
            }
        }

        .login {
            padding-bottom: 25px;
        
            a {
                color: color(neutral-gray);
            }

            a:hover {
                text-decoration: underline;
            }
        }

        &.show {
            visibility: visible;
        }

    }

}



.menu-btn {
    position: absolute;
    right: 30px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .btn-line {
        position: relative;
        width: 100%;
        height: 2px;
        background-color: color(neutral-dark);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btn-line:before, 
    .btn-line:after {
        content: '';
        position: absolute;
        top: -7px;
        width: 100%;
        height: 2px;
        background-color: inherit;

    }

    .btn-line:after {
        top: 7px;
    }


    &.close {
        .btn-line {
            transform: rotate(135deg);
        }

        .btn-line:before,
        .btn-line:after {
            top: 0;
            transform: rotate(90deg);
        } 
    }
}
