$colors: (
    primary-red: hsl(0, 100%, 68%),
    neutral-dark: hsl(230, 29%, 20%),
    neutral-darkgray: hsl(230, 11%, 40%),    
    neutral-gray: hsl(231, 7%, 65%),   
    neutral-lightgray: hsl(207, 33%, 95%),    
 
    );

@function color($color-name) {
    @return map-get($colors, $color-name)
};

@mixin easeOut{
    transition: all .5s ease-out;
}